<h1>Portfolio Items</h1>

<%= link_to "Create New Item", new_portfolio_path if logged_in?(:site_admin) %> 

<%= render partial: 'portfolio_item', collection: @portfolio_items %>

<!--Manually declare the directory.Like partial is portfolio_item.
	Collection is @portfolio_items. -->