<h1>About Me</h1>

<hr>

<div class="row">
	<div class="col-md-4">		
		<%= image_tag "profile.JPG", width: 300, alt: "Profile Image" %>
	</div>

	<div class="col-md-8">
	<p class="text-center">
		I love Ruby on Rails framework.Worked at gurujada IT solutions in Vizianagaram.
		Having 7 months experience in Rails. Looking forward to learn more about this beautiful framework.
	</p>
	</div>
</div>