<p class="text-center">
	I love Ruby on Rails framework.Worked in gurujada IT solutions in Vizianagaram.
	Having 7 months experience in Rails. Looking forward to learn more about this beautiful framework.
	
</p>